body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ganti background ini dengan gambar latar belakang kamu */
    background: url('assets/senja-uin.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-placeholder {
    text-align: center;
    margin-bottom: 20px;
}

.logo-placeholder img {
    width: 100px; /* Atur ukuran logo */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
}

.password-wrapper {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.forgot-link {
    display: block;
    margin-bottom: 20px;
    color: #010639;
    text-decoration: none;
    font-size: 0.9em;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00; /* Warna kuning khas */
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
}